@import url("https://fonts.googleapis.com/css2?family=Montserrat:norm,wght@1,100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/Gallery/background.jpg);
  min-width: 1000px;
  font-size: 20px;
  font-style: normal;
  color: #180404;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-nav {
  height: 50px;
  width: 100%;
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .logo img {
  margin: 0 0 0 50px;
  height: 100%;
}

.header-nav .logo h2 {
  margin-left: 20px;
}

.header-nav ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul li {
  list-style-type: none;
}

.intro-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 480px 100px 150px;
      grid-template-rows: 480px 100px 150px;
  grid-gap: 2px;
  margin: 50px 0 50px 0;
}

.intro-text_Title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
}

.intro-text_Title .span-top {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 2/2/4/8;
}

.intro-text_Title .span-middle {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 4/4/5/10;
}

.intro-text_Title .span-bottom {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: 7/3/9/11;
}

.bigger-1 {
  font-size: 30px;
}

.intro-text_Image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.intro-text_Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .8;
}

.intro-text_Text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-text_Text p {
  width: 90%;
  text-align: left;
}

.home-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
}

.home-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 300px;
}

.home-cards .card .card-top {
  position: relative;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-cards .card .card-top .image1 {
  position: absolute;
  top: 10;
  left: 0;
}

.home-cards .card .card-top .image2 {
  position: absolute;
  top: 10;
  left: 100;
}

.home-cards .card .card-bottom {
  height: 40%;
}

.home-banner {
  height: 300px;
  margin: 150px 0 150px 0;
  background-color: rgba(255, 0, 0, 0.116);
}

.home-banner .home-banner_parallax {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.home-banner .home-banner_parallax img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-skyMap {
  height: 800px;
  background-color: rgba(255, 0, 0, 0.116);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr 2fr;
      grid-template-columns: 1fr 4fr 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 4px;
}

.home-skyMap .home-skyMap_Title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-skyMap .home-skyMap_Title img {
  height: 500px;
}

.home-skyMap .home-skyMap_Maps {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-skyMap .home-skyMap_Maps img {
  height: 550px;
  width: auto;
}

.home-skyMap .home-skyMap_Const {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-skyMap .home-skyMap_Const img {
  opacity: 0.48;
}

.home-skyMap .home-skyMap_Text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 1/4/2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-skyMap .home-skyMap_Text p {
  width: 50%;
  text-align: left;
}

.home-epilogue {
  padding: 0 200px 0 200px;
  margin: 200px 0 100px 0;
  min-height: 250px;
}

.home-epilogue p {
  line-height: 40px;
}

.footer {
  margin-top: 50px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
}

.footer_LineBreaker {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  width: 100%;
}

.footer_LineBreaker img {
  width: 70%;
  -o-object-fit: fill;
     object-fit: fill;
}

.footer_Links {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_Links ul {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_Links ul li {
  list-style-type: none;
}

.footer_Social {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.footer_Social ul {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 100px;
}

.footer_Social ul li {
  list-style-type: none;
}

.footer_Social ul li img {
  opacity: 0.5;
}

.footer_Copy {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3/1/4/4;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.home-banner {
  position: relative;
}

.home-banner_parallax {
  height: 650px;
  background-image: url("../assets/Gallery/Full res/LDN1235.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

* {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

ul:hover li {
  opacity: 0.5;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

ul li:hover {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  cursor: pointer;
}

li:after {
  display: block;
  content: '';
  border-bottom: solid 1px #141414;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=index.css.map */